{% extends "base.html" %}
{% block content %}
<div id="confirm-table">
    <h1>Confirm Order.</h1>
    <input type="hidden" id="oid" name="oid" value="{{ order['oid'] }}" />
    <table class="confirm-table">
        <thead>
            <tr>
                <th colspan="2" class="name">Your details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="detail-label">Total Price:</td>
                <td class="detail-value">{{ order.sale_price }} Kr</td>
            </tr>
            <tr>
                <td class="detail-label">Quantity</td>
                <td class="detail-value">{{ order.volume }}</td>
            </tr>
            <tr>
                <td class="detail-label">Your email:</td>
                <td class="detail-label"><input type="text" name="aux_email" id="aux_email" size="24"
                        value="{{ userinfo.email }}" disabled /></td>
            </tr>
            <tr>
                <td class="detail-label">Your Telephone:</td>
                <td class="detail-value"><input type="text" name="aux_tel" id="aux_tel" size="24"
                        value="{{ userinfo.telephone }}" disabled /></td>
            </tr>
            <tr>
                <td> Please Confirm :</td>
                <td><a href="javascript:void(0)" onclick="confirmProduct();"><i class="fa fa-shopping-cart" style="font-size: 60px;color:#3299BB ;"></i></td>
            </tr>
        </tbody>
    </table>

    <div><span id="info"></span></div>
</div>
{% endblock %}