@font-face {
    font-family: Raleway;
    src: url(./google-fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Tangerine;
    src: url(./google-fonts/Tangerine/Tangerine-Bold.ttf);
}

html {
    position: relative;
    min-height: 100%;
    /* needed for footer */
}

body {
    margin: 0 0 120px;
    /* equals footer height */
    padding: 0px;
    text-decoration: none;

}

* {
    font-family: Raleway, sans-serif;
    color: #424242;

}

input[type="text"]:focus {
    background-color: ridge greenyellow;

}

/** Header **/
header {
    height: 40px;
    position: relative;
    /* change to fixed*/
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}

/** Navigation **/
nav {
    position: absolute;
    height: 40px;
    right: 0%;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #E9E9E9;
}

nav ul {
    margin-top: 0px;
    padding-left: 10px;

}

nav span {
    color: white;
    font-size: 1.2em;
    position: relative;
    bottom: 12px;
    right: 3px;
}




nav li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    border-left: 1px solid #E9E9E9;

}

 
nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: lightgoldenrodyellow;
}

nav .fa {
    color: white;
    padding: 3px;
}

/** End of Navigation **/

/* Search  */
#search {
    position: absolute;
    top: 50px;
    left: 0%;
    height: 60px;
    z-index: 10;
    margin: 5px;
    font-size: x-large;
}


#search input {
    width: 305px;
    padding-right: 30px;
    border-radius: 10px;
    border-color: #3299BB;

}

/* Search End */

/* Sort */
#sort-div {
    float: right;
    margin: 5px;
    right: 25px;
    font-size: x-large;
}

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    border: none;
    /* Make Button transparent*/
    background-color: Transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 20px;
    width: 188px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: lightgoldenrodyellow;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #BCBCBC;
}

/* End Sort */


/* Welcome msg */
#welcome {
    left: 40%;
    top: 45px;
    padding: 5px;
    position: absolute;
    margin: 5px;
}

/* Sub content Icons */
#icons .fa {
    color: #3299BB;
    text-shadow: 4px 4px 4px #aaa;
}

#icons {
    border: 5px solid #ececec;
    margin: 20px;
    position: relative;
    padding: 5px;
    width: 98%;
    background-color: white;
    font-size: 40px;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
}

#icons a {
    text-decoration: none;
}

.icon-text {
    display: block;
}

.icon-div {
    display: table-cell;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.icon-div:hover {
    background-color: lightgoldenrodyellow;
}

.icon-div span {
    font-family: Tangerine, sans-serif;
    color: #3299BB;
    text-shadow: 4px 4px 4px #aaa;
}

.fa-sort,
.fa-caret-down {
    color: #3299BB;
    text-shadow: 2px 2px 2px #aaa;
}

.fa-search {
    position: relative;
    left: 300px;
    color: #3299BB;
    text-shadow: 2px 2px 2px #aaa;
    font-size: 20px;
}

#info {
    color: red;
    margin: 10px;
}


#user_id {
    float: right;
    color: black;
}

h1,
h2,
h3,
h4 {
    /* font-family: Tangerine, sans-serif; */
    text-shadow: 2px 2px 2px #aaa;
}

/* External Login */
img.google {
    border-top: 5px solid #3299BB;
    border-bottom: 5px solid #3299BB;
    width: 100px;
    margin-bottom: 3px;
    margin-right: 5px;
}

img.microsoft {
    border-top: 5px solid #3299BB;
    border-bottom: 5px solid #3299BB;
    width: 100px;
    margin-bottom: 3px;
    margin-right: 5px;

}

#msoft {
    position: relative;
    left: 100px;
    padding: 30px;
}

/* Login end */

/* .contact {
    border-width: 1px 5px 1px 5px;
    border-style: solid;
    border-color: #999999;
    background-color: white;
    position: relative;
    padding: 10px;
    margin: 3px;
    font-family: Raleway, serif;
    font-size: 0.8em;
}

.contact_operations {
    width: 1.2em;
    position: absolute;
    text-align: center;
    padding: 3px;
    right: 0;
    top: 0;
}

.contact_name,
.contact_tel {
    font-weight: bold;
    font-size: 0.9em;
} */


.disabled {
    opacity: 0.5;
    pointer-events: none;
}


#add_p:hover {
    background-color: lightgoldenrodyellow;
}

.fa-pencil-square-o:hover {
    background-color: greenyellow;
}

.fa-trash-o:hover {
    background-color: orange;
}

#delete_user:hover {
    background-color: orange;
}

.fa-sign-out:hover {
    background-color: lightgoldenrodyellow;
}

#reservations {

    height: auto;
}

#b1,
#b2,
#update {
    font-weight: bold;
}

.edit {
    position: absolute;
    top: 5px;
    right: 5px;
}



.delete_contact {
    position: absolute;
    top: 160px;
    right: 5px;
}

#b2:hover {
    background-color: lightgoldenrodyellow;
}

#add_p,
#add_to_cart,
#update_p,
#delete_user,
#checkout {
    width: 98%;
    border-width: 5px 1px 5px 1px;
    border-style: solid;
    border-color: #ececec;
    background-color: white;
    padding: 5px;
    margin: 5px;
    font-family: Raleway, serif;
    font-size: 1.2em;
    font-weight: bold;
}




#login_access,
#add_entry,
#update_entry,
#confirm-table {
    border: 5px solid #ececec;
    margin: 10px;
    position: relative;
    padding: 5px;
    width: 98%;
    font-weight: bold;
    background-color: white;
}


#list {
    border: 5px solid #ececec;
}

#index {
    padding: 0px;
}

/** Main content **/
main
 {
    overflow: auto;
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1200px;
    width: 90%;
    min-height: 1200px;
}

main h1 {
    background-color: #BCBCBC;
    color: white;
    padding: 5px;
    font-size: 1.2em;
    margin-top: 5px;
}


main img {
    height: 200px;
    width: 200px;
}


.container {
    text-align: center;
    padding-top: 0px;
}


a {
    color: #3299BB;
}

#customer a {
    color: #424242;
}

#customer {
    width: 100%;
    background-color: #E9E9E9;
    font-size: 1.0em;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #424242;
}


.prod_left,
.item_left {
    width: 200px;
    float: left;
}

.prod_right,
.item_right {
    float: none;
    /* just to make it clear */
    padding-left: 10px;
    width: auto;
    overflow: hidden;
    height: auto;
}

/**  One product **/
#evaluate {
    position: absolute;
    right: 217px;
    margin-top: 8px;

}
.rate {
  padding: 0px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
    position: relative;
    left: 32px;
}

.rate:not(:checked)>label:before {
    content: '★ ';
    
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}


#old_rating .fa{ 
    font-size: 35px;
    padding-left: 15px;

}
#submit_review {
    margin: 5px;
    width: 100%;
    border-width: 5px 1px 5px 1px;
    border-style: solid;
    border-color: #ececec;
    background-color: white;
    padding: 5px;
    font-family: Raleway, serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
   

}

#product{
    overflow: auto;
    position: relative;
    padding-top: 0px;
    margin: 0 auto;
    min-width: auto;
    max-width: 78%;
   
  
}
#rating,
#num_items {
    border-radius: 4px;
    border: 1px solid #ccc;
}

#product h1 {
    background-color: #BCBCBC;
    color: white;
    padding: 5px;
    font-size: 1.2em;
    margin-top: 5px;
    text-align: center;
}

.prod_right1 {
   
    /* just to make it clear */
    width: auto;
    overflow: hidden;
    position: relative;
    left: 65px;
    height: auto;
    
}

.prod_order {
    position: absolute;
    bottom: 0px;
    left: 250px;
    justify-content: center;
}

#product img {
    height: 230px;
    width: 230px;
}
.product-review-table img{
    width: 50px;
    height: 50px;

}
.product-review-table tr{
    background-color:lightcyan;
    border: 1px solid #E9E9E9;

}



.product form {
    float: right;
    position: relative;
    background-color: lightcyan;
    
    
   
}

.product textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#add_to_cart:hover {
    background-color: lightgoldenrodyellow;
}

#submit_review:hover {
    background-color: lightgoldenrodyellow;
}

#reviewer_name,
#reviewer_email {
    border-radius: 4px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

#cont_shopping_product,
#cont_shopping {
    color: black;
    text-decoration: none;

}

.category1 {
    position: absolute;
    left: 5px;
    bottom: 8px;
    width: 230px;
    /* width of the image */
    z-index: 1;
    background-color: #E9E9E9;
    opacity: 0.7;
    text-align: center;
}

.product_details1 {
    border: 3px solid #E9E9E9;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: 0.8em;
}

.framed1 {
    border: 3px solid #E9E9E9;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    height: 250px;
    overflow: hidden;
    font-size: 0.8em;
}

h6 a{
    text-decoration: none;
}

/** End One product **/

/** CART **/
#cont_shopping {
    position: relative;
    float: left;

}

#basket a {
    text-decoration: none;
}

#basket h3 {
    font-size: 16px;
}

#basket img {
    width: 50px;
    height: 50px;
}

.text-navy {
    color: #3299BB;
}

.cart-product-imitation {
    text-align: center;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    background-color: #f8f8f9;
}


table.shoping-cart-table {
    margin-bottom: 0;
}

table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
    text-align: left;
}

table.shoping-cart-table tr td:last-child {
    width: 80px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {

    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}


.form-control.credit-inputs{
    background: rgb(102, 102, 221);
    color: #fff !important;
    border-color: rgb(102, 102, 221);
}



.card_type {
    display: flex;
}

.type {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    right: 150px;
}

.information span {
    font-size: 12px;
    font-weight: bold;
}


.information {
    margin-bottom: 2px;
}


.line {
    border-bottom: 2px solid rgb(102, 102, 221);
}




.form-control.credit-inputs:focus {
    background: rgb(102, 102, 221);
    border: rgb(102, 102, 221);
}

.credit-card-label {
    font-size: 10px;
    font-weight: bold;
    position: relative;
    right: 120px;

}



.credit-inputs::placeholder {
    color: #fff !important;
    font-size: 15px;
}

.payment-info {
    background: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}


label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid #ada9a9;
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}

label.radio input:checked+span {
    border-color: #fff;
    background-color: blue;
    color: #fff;
}



/** End of CART**/


article .details {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 60px;
    background-color: #3299BB;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #E9E9E9;
    border: 1px solid white;
    outline: 1px solid #BCBCBC;
}

article .details:hover {
    background-color: #FF9900;
}



.framed {
    border: 3px solid #E9E9E9;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: 0.8em;
}

.column {
    width: 418px;
    /* set the amount of columns */
    margin: 0.5%;
    float: left;
}

/* News column*/
.columnx {
    width: 98%;
    /* set the amount of columns */
    margin: 13px;
}

article h3 {
    margin: 0;
}



.category,
.discount {
    position: absolute;
    left: 5px;
    bottom: 8px;
    width: 200px;
    /* width of the image */
    z-index: 1;
    background-color: #E9E9E9;
    opacity: 0.7;
    text-align: center;
}

label {
    width: 200px;
    float: left;
    margin-right: 1em;
    text-align: right;
}

.static {
    background-color: #ececec;
}





form input[type="submit"] {
    font-weight: bold;
    float: right;
}

.confirm-table {
    margin-left: auto;
    margin-right: auto;
}

mark {
    background: orange;
    color: black;
}

/* map */
#map {
    width: 100%;
    height: 800px;
    top: 0;
    bottom: 0;
}

/*  Game board and cards */

#startbutton {
    border: 1px solid black;
    width: 100px;
    margin: 100px auto;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}

/* board and cards */

#cardboard {
    overflow: auto;
    padding: 10px;
    background-color: #ececec;
    margin: 0 auto;
    display: none;
}

.clearleft {
    clear: left;
}

.card {
    width: 100px;
    height: 120px;
    float: left;
    position: relative;
    margin: 10px;
    transition: 1s;
    transform-style: preserve-3d;
}

.card div {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 3px solid #73AD21;
    border-radius: 10px;
}

.card img {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}

.card div.back {
    background-color: #91d52a;
    backface-visibility: hidden;
    left: -6px;
}

.card div.front {
    background-color: white;
    border: 3px solid white;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}



/* gamestat */

#gamestat {
    height: 60px;
    margin: 20px;
    display: none;
}

#gamestat div {
    width: 33%;
    float: left;
}

.score {
    border: 1px solid black;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.2em;
}

#player2 {
    text-align: right;
}

#stat {
    text-align: center;
}

.current-player {
    border-bottom: 4px solid #FF6633;
    /* Nice orange */

}